
h1  {
   color: #008;
   font-size: 200%;
   margin-bottom: .3em;
   text-align: center;
   text-decoration: underline;
   font-family: verdana;
 }

 h3 {
   color: #008;
   font-size: 150%;
   font-family: verdana;
 }

 .btn-info {
   color: white;
   background-color: #278beb;
   border-radius: 8px;
   font-size: 130%;
   font-family: verdana;
 }

 .low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

body {
  background-color: lightblue;
}
